/* *{
    background-color: #d7fcec;
    color: cornflowerblue;
}
h1{
    color:#51ff00;
    text-align: center;
    font-size: 100px;
}
#titulo{
    color: crimson;
    text-align: center;
}
.centrar{
    text-align: center;
}
.texto-grande{
    font-size: 20px;
} */
 /* h1, h2, p{
    color:crimson;
    text-align: center;
 } */
p.centrar{
    text-align: center;
}