h1{
    text-align: center;
}
/* .rojo{
    /* background-color: firebrick; 
    border: 1px solid firebrick;
}
.rosa{
    /* background-color: hotpink; 
    border: 10px dashed rgb(255, 105, 180);
}
.amarillo{
    /* background-color: gold; 
    border: 10px double #ffd700;
}
.azul{
    /* background-color: turquoise; 
    border: 10px dotted hsl(174, 72%, 56%);
} */
/* .punteado{
    border-style: dotted;
    border-width:10px 5px 3px 2px;
    border-color: #dc143c hwb(330 41% 0%) lime rgb(255, 215, 0);
}
.discontinuo{
    border-style: dashed;
    border-width: thick;
    border-color: hsla(203, 39%, 44%, 0.5); 
}*/
.solido{
    border: solid #ff0000;
    border-width: 5px;
    border-radius: 20px;
}
.redondeado{
    border: 5px solid blueviolet;
    border-radius: 20px 0px 10px 0px;
}
/* .doble{
    border: 5px double blueviolet;
    border-width: 10px 5px
}
.surco{
    border: 10px groove;

}
.cresta{
    border: 10px ridge;
}
.recuadro{
    border: 10px inset;
}
.outset{
    border: 10px outset;
}
.sin-borde{
    border: none;
}
.oculto{
    border: hidden;
}
.mixto{
    border-style: dotted solid dashed double;
} */